<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1 class="primary-color">STUFF1</h1>
    <p>asdf</p>
  </section>
  <section>
    <h1>STUFF2</h1>
    <p>fda</p>
  </section>
  <section>
    <h1>STUFF3</h1>
    <p>sss</p>
  </section>
  <input type="number" [(ngModel)]="status" name="status" />
  <input type="number" [(ngModel)]="delay" name="delay" />
  <input type="number" [(ngModel)]="statusAfter" name="statusAfter" />
  <input type="number" [(ngModel)]="per" name="per" />
  <button (click)="test()">Test</button>
  <button (click)="test2()">Test2</button>
</div>
