mat-form-field {
  width: 400px;
}

.login-card {
  width: 400px;
}

.login-page {
  padding-top: 25px;
}

.google-btn {
  width: 240px;
  height: 36px;
  background-color: white;
}
.google-btn-text {
  color: black;
}

.google-btn-logo {
  width: 1rem;
  height: 1rem;
}
