// a {
//     text-decoration: none;
//     color: white;
// }

// a:hover,
// a:active {
//     color: lightgrey;
// }

// .navigation-items {
//     list-style: none;
//     padding: 0;
//     margin: 0;
// }

.app-toolbar {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  max-height: 60px;
}
