<div fxLayout="row" fxLayoutAlign="center center" class="signup-page">
  <section>
    <mat-card class="signup-card">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Signup</mat-card-title>
      </mat-card-header>

      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Your Username"
              formControlName="username"
              autocomplete="username"
            />
            <mat-error>Missing username.</mat-error>
            <mat-hint>Please enter your username.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Your password"
              formControlName="password"
              autocomplete="new-password"
            />
            <mat-error>Missing password.</mat-error>
            <mat-hint>Please enter your password.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Confirm password"
              formControlName="confirmPassword"
              autocomplete="new-password"
            />
            <mat-error>Passwords must match</mat-error>
            <mat-hint>Please re-type your password.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Your First Name"
              formControlName="firstName"
              autocomplete="given-name"
            />
            <mat-error>Missing first name.</mat-error>
            <mat-hint>Please enter your first name.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Your Last Name"
              formControlName="lastName"
              autocomplete="family-name"
            />
            <mat-error>Missing last name.</mat-error>
            <mat-hint>Please enter your last name.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input type="email" matInput placeholder="Your email" formControlName="email" autocomplete="email" />
            <mat-error>Missing email.</mat-error>
            <mat-hint>Please enter your email.</mat-hint>
          </mat-form-field>

          <div *ngIf="loading; else elseNotLoading">
            <mat-card-actions>
              <mat-spinner [diameter]="50"></mat-spinner>
            </mat-card-actions>
          </div>

          <ng-template #elseNotLoading>
            <mat-card-actions>
              <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Login</button>
              <button type="reset" mat-raised-button color="warn" (click)="clearSignupForm()">Clear</button>
            </mat-card-actions>

            <p><b>Or</b></p>

            <mat-card-actions>
              <button type="button" mat-raised-button class="google-btn">
                <img src="assets/img/google-logo.png" alt="Google logo" class="google-btn-logo" />
                <span class="google-btn-text">Continue with Google</span>
              </button>
            </mat-card-actions>
          </ng-template>
        </mat-card-content>
      </form>
    </mat-card>
  </section>
</div>
