/* You can add global styles to this file, and also import other style files */
@import './styles/dark-theme';
@import './styles/light-theme';

@include mat-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.google-btn {
  width: 240px;
  height: 36px;
  background-color: white !important;
}
.google-btn-text {
  color: black;
}

.google-btn-logo {
  width: 1rem;
  height: 1rem;
}
